*{
    box-sizing: border-box;
    font-size:'poppins',sans-serif ;

}
body{
    width:100%;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items:center;
    background: linear-gradient(45deg,#4a0ea3,#3a5244);
} 
.calculator
 {
    border:1px solid #7717377;
    padding:20px;
    border-radius:16px;
    background:transparent;
    box-shadow:0px 3px 15px rgba(255,255,119,0.9);

} 
  input{

    border:none;
    padding:5px;
    margin:10px;
    background:transparent;
    box-shadow: 0px 3px 15px rgb(236, 238, 100);
    font-size: 20px;
    cursor:pointer;
    text-align: right;
    color: white;
    outline:0;
    width:40px;
}   
input::placeholder{
    color:#ffffff;
}
   input{
     border:none;
     width:60px;
     height:60px;
     margin:10px;
     background:transparent;
     color: white;
     font-size: 20px;
     box-shadow: -8px -8px 15px rgba(255,255,255,0.1);
     cursor:pointer; 
}  
form input.equal{
    width:50px;
} 